$text: white

body 
    background-color: #262626
    font-family: linden Hill
    font-weight: 200

.header
    display: flex
    align-items: center
    justify-content: space-evenly
    color: $text

.Barra
    width: 450px
    height: 40px
    background: #ffffffc7
    border-radius: 10px
    display: flex
    .Barra-de-pesquisa
        width: 400px
        background: #ffffff00
        border: none
        border-radius: 10px
        padding: 20px
        &:focus
        outline: none
        
    .Search
        text-align: center
        line-height: 2.4 
        width: 80px
        height: 40px
        background: #1E66BA
        border-radius: 0px 5px 0px   20px    
        
.carrinho
    display: flex
    gap: 5px  

    
.Navegação
    background-color: #1E66BA
    margin: auto
    width: 81%
    height: 37px
    border-radius: 5px
    font-family: linden Hill
    .lista
        display: flex
        line-height: 40px
        color: white
        a
            text-decoration: none
            color: white
        
